<section>
    <div class="row banner-interno">
        <img src="{{educacion_continuada}}" alt="">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center">

                <div class="col-xl-10 pt-4">
                    <div class="row">
                        <div class="col-xl-5 text-white">
                            <h1 class="text-center">Educación <br>Continuada</h1>
                            <p class="fs-3 text-right text-6">#vuelveteemprendedor</p>
                            <p class="lema text-center"> Los cursos y diplomados producen mayores ingresos </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 pt-4">

                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-11 wrap-programas">
                
                            <div class="col-xl-12 bg-software superior">
                                <div class="row text-center small text-white">    
                                    <div class="col-xl-3"><b><i class="bi bi-hourglass"></i><b> Programa</b> profesional *</b></div>
                                    <div class="col-xl-3"><b><i class="bi bi-water"></i> Duración</b> 10 semestres</div>
                                    <div class="col-xl-3"><b><i class="bi bi-bookmark-heart"></i> Diferentes</b> Jornadas</div>
                                    <div class="col-xl-3"><b><i class="bi bi-code"></i> Modalidad</b> Presencial (PAT)</div>
                                </div>
                            </div>
                            <div class="col-xl-12 p-0">
                                <div class="row tabs" ng-init="inicioAlgo()">
                                    <a (click)="paginas('1')" (click)="activo='1'" class="col-xl-3" [ngClass] = "activo=='1'  ?  'active'  :  ''">
                                        Conoce elPrograma
                                    </a>
                                    <a (click)="paginas('2')" class="col-xl-3" (click)="activo='2'" [ngClass] = "activo=='2'  ?  'active'  :  ''">
                                        Plan de estudios
                                    </a>
                                    <a (click)="paginas('3')" class="col-xl-3" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active'  :  ''">
                                        Valores y financiación directa
                                    </a>
                                    <a (click)="paginas('4')" class="col-xl-3" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active'  :  ''">
                                        Inicia tu proceso de matrícula
                                    </a>
                                </div>
                            </div>
                
                        </div>
                    </div>



                </div>






            </div>
        </div>
    
         
    
    </div>
</section>

